html {
	font-size: 18px;
	line-height: 1.4;
	color: white;
	font-family: Helvetica;
}

.container {
	max-width: 960px;
	margin: 0 auto;
}

/*-------- HEADER --------*/

header {
	font-size: 1rem;
}

header div.container {
	display: flex;
	align-items: center;
    justify-content: space-between;
    background-color: cadetblue;
    position: relative;
    top: 1rem;

}

header ul {
	list-style: none;
	/*padding-right: 40px;*/
}

header ul li {
	display: inline-block;
	padding: 1rem 2rem;
}

.logo {
	display: flex;
	align-items: center;
}

.logo img {
	padding: 1rem 0 1rem 2rem;
	height: 1.5rem;
}

.logo span {
	padding: 1rem;
}

a:link, a:visited  {
	color: white;
	text-decoration: none;
}



.banner {
	height: 31rem;
	width: 100%;
	background-image: url("../images/glasses-bg.png");
	background-size: cover;
}

.message {
	background-color: white;
	color: black;
	font-weight: 	bold;
	font-size: 	2rem;
	line-height: 	1.2;
	text-transform: 	uppercase;	
}

/*-------MAIN------------*/